@charset "UTF-8";
/* CSS Document */

/* テキスト ***************************************************/

body {
    font-family:'Lucida Grande', 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', 'Meiryo', 'メイリオ', 'sans-serif';
	font-size:16px;
	line-height:20px;
}

h1 {
    color: #fff;
	font-size:28px;
	line-height:34px;
	font-weight : 400;
}

h2 {
    color: #000;
	font-size:28px;
	line-height:34px;
	font-weight : 400;
	
}

h3 {
    color: #000;
	font-size:28px;
	line-height:34px;
	font-weight:400;
}

h4 {
    color: #000;
	font-size:18px;
	line-height:24px;
	font-weight:600;
}

/* data box ***************************************************/

ul, ol, dl {
	margin: 1em 10px;
	padding: 1px 0;
	list-style-position: inside;
}
li, dt, dd {
	margin: 0em 5px;
}
dt {
	margin-left: 10px;
	font-size:14px;
}

.data_box {
    border: solid 1px #CCCCCC;
	width: auto;
	height: auto;
	margin-right: 0px;
	margin-bottom:20px;	
}

.data_box dl dd {
    padding: 5px;
    border-top: dotted 1px #CCCCCC;
	font-size:13px;
}
	
/* セクション ***************************************************/

article,aside,canvas,details,figcaption,figure,
header,footer,main,menu,nav,section,summary {
	display: block
}

body{
  padding: 0;
  margin: 0;
}

#div_title {
	background-color:#19161d;
	height:auto;
	width:auto;
}

#div_header {
	height:150px;
	width:auto;
	background-color:#3c3e40;
	padding-left: 15px;
	padding-right: 15px;
	margin: 0 auto;
}

#effect_title {
	height:150px;
	width:auto;
	padding-left: 15px;
	padding-right: 15px;
	margin: 0 auto;
}

#div_transformation {
	height:150px;
	width:auto;
	background-color:#eeeeee;
	padding-left: 15px;
	padding-right: 15px;
	margin: 0 auto;
}

#div_introduction {
	height:auto;
	width:auto;
	padding:15px;
}

#thinblue {
	height:15px;
	width:auto;
	background-color:#1c91db;
	vertical-align:central;
}

.youtube{
	position:relative;
    padding-bottom: 56.25%;
    padding-top:30px;
    height:0;
    overflow:hidden;
}

.youtube iframe{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
}

.logos {
	position:relative;
	padding: 0 auto;
	margin: 0 auto;
}

.div_images {
	padding-top:8px;
}

.div_main {
	background:url(img/bg-main.jpg);
	box-sizing : border-box;
	padding:0px;
}

.div_issuebg {
	background-color:#3c3e40;
	width:100%;
	box-sizing : border-box;
	margin-top:-30px;
	padding:15px;
}

.div_issueinside{
	border: 2px solid #fff;
}

.effect {
	padding:20px;
	background-image: url(img/bg_effect.jpg);
	background-repeat:repeat;
}

.effect_column1 {
	height: 245px;
	margin-bottom: 30px;
	background-color: rgba(0, 0, 0, 0.2);
	border: 2px solid #fff;
}

.effect_column2 {
	height: 245px;
	margin-bottom: 30px;
	background-color: rgba(0, 0, 0, 0.2);
	border: 2px solid #fff;
}

.div_greybg {
	background-color:#eeeeee;
	box-sizing : border-box;
	padding:20px;
}

.div_whitebg {
	background-color:#ffffff;
	box-sizing : border-box;
	padding:20px;
}

.div_whitebg_nopad {
	background-color:#ffffff;
	box-sizing : border-box;
	padding:0px;
}